<div class="container">
    <form class="register-form" role="form" (ngSubmit)="register()">
        <div *ngIf="!user">
            <div class="form-group">
                <label class="form-label" for="exampleInputEmail1">Vnesite kodo za registracijo</label>
                <input type="text" #registrationCode class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Koda" [disabled]="user">
            </div>

            <div *ngIf="errMsg" class="err-msg">{{errMsg}}</div>

            <button type="button" class="btn btn-primary btn-checkcode" (click)="registrationCodeChange(registrationCode.value)" [disabled]="user">Preveri</button>
        </div>

        <div *ngIf="user">
            <div class="info">Dobrodošli <b>{{user}}</b>, prosim nadaljujte z registracijo.</div>
            <br>
            <div class="form-group">
                <label class="form-label" for="password">Geslo</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Geslo" [(ngModel)]="password">

                <label class="form-label" for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="email">
            </div>

            <div class="form-group check-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="check1" value="" name="check1" [(ngModel)]="check1" required>
                  <label class="form-check-label check-label" for="check1">
                    Strinjam se z vsemi pogoji avtorja te spletne strani.
                  </label>
                </div>
                <div *ngIf="errMsgCheck" class="err-msg">{{errMsgCheck}}</div>
              </div>

            <button type="submit" class="btn btn-primary">Registracija</button>
        </div>
    </form>

</div>