<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 p-1">
            <img class="mx-3" src="/assets/img/thumbnail_Monday-League-Light.png" width="50" height="50" alt="">
            Ustreli.ga
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            (click)="toggleCollapsed()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Rezultati</a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse navbar-right" id="navbarNav" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a *ngIf="!username" class="nav-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Prijava</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="username" class="nav-link" routerLink="/chat" routerLinkActive="active" ariaCurrentWhenActive="page">Chat</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="username" class="nav-link" routerLink="/profile/{{username}}" routerLinkActive="active" ariaCurrentWhenActive="page">{{username}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<app-footer></app-footer>
