<div class="container">
    <h1>Nogometni rezultati</h1>

    <br>

    <h3>Lestvica</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ime</th>
                <th scope="col">Točke</th>
                <th scope="col">Goli</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of playersInfo; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    <a class="nav-link text-primary text-decorate-underline" [routerLink]="['profile', player.name]" routerLinkActive="active" ariaCurrentWhenActive="page">{{player.name}}</a>
                </td>
                <td>
                    {{ player.totalScore }}
                </td>
                <td>
                    {{ player.totalGoals }}
                </td>
            </tr>
        </tbody>
    </table>

    <br>

    <h3>Pretekle tekme</h3>
    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
        <ngb-panel *ngFor="let match of fd">
            <ng-template ngbPanelHeader *ngIf="match.team1">
                <button ngbPanelToggle class="accordion-button" *ngIf="match.team1">

                    <div class="match-date">{{match.date}}</div>

                    <div class="vr mx-2"></div>
                    <div class="text-center" [ngClass]="match.team1Score < match.team2Score ? 'text-game-lost' : 'text-game-won'">{{match.team1[0]}}, {{match.team1[1]}}, {{match.team1[2]}}</div>

                    <div class="match-score mx-2">{{match.team1Score}}:{{match.team2Score}}</div>

                    <div class="text-center" [ngClass]="match.team1Score > match.team2Score ? 'text-game-lost' : 'text-game-won'">{{match.team2[0]}}, {{match.team2[1]}}, {{match.team2[2]}}</div>
                    <div class="vr mx-2"></div>

                </button>
            </ng-template>
            <ng-template ngbPanelContent *ngIf="match.team1">
                <div *ngFor="let game of match.games; index as i; let l = count">
                    Rezultat {{i + 1}}. igre: <b class="game-result">{{game.team1Score}}:{{game.team2Score}}</b>
                    <div>Zadetki: </div>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item" [ngClass]="game.team1Score < game.team2Score ? 'game-lost' : 'game-won'">{{match.team1[0]}} - {{game.scoresTeam1[0]}}</li>
                        <li class="list-group-item" [ngClass]="game.team1Score < game.team2Score ? 'game-lost' : 'game-won'">{{match.team1[1]}} - {{game.scoresTeam1[1]}}</li>
                        <li class="list-group-item" [ngClass]="game.team1Score < game.team2Score ? 'game-lost' : 'game-won'">{{match.team1[2]}} - {{game.scoresTeam1[2]}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item" [ngClass]="game.team1Score > game.team2Score ? 'game-lost' : 'game-won'">{{match.team2[0]}} - {{game.scoresTeam2[0]}}</li>
                        <li class="list-group-item" [ngClass]="game.team1Score > game.team2Score ? 'game-lost' : 'game-won'">{{match.team2[1]}} - {{game.scoresTeam2[1]}}</li>
                        <li class="list-group-item" [ngClass]="game.team1Score > game.team2Score ? 'game-lost' : 'game-won'">{{match.team2[2]}} - {{game.scoresTeam2[2]}}</li>
                    </ul>
                    <hr *ngIf="i < l - 1"/>
                </div>
            </ng-template>

            <ng-template ngbPanelHeader *ngIf="match.present">
                <button ngbPanelToggle class="accordion-button" *ngIf="match.present != undefined">

                    <div class="match-date">{{match.date}}</div>

                    <div class="vr mx-2"></div>
                    <div class="match-present">
                        <span class="inline" *ngFor="let pr of match.present; index as i; let l = count">{{pr}}<span *ngIf="i < l - 1">, </span></span>
                    </div>
                    <div class="vr mx-2"></div>

                </button>
            </ng-template>
            <ng-template ngbPanelContent *ngIf="match.present">
                <div>
                    Prijateljska tekma.
                </div>
            </ng-template>

        </ngb-panel>
    </ngb-accordion>
</div>