$red-lost-bg: rgb(255, 214, 214);
$red-lost: #ff1a1a;
$green-win-bg: rgb(211, 255, 211);
$green-win: #00b300;
$yellow-friendly: #9c9a00;

.match-date {
    margin-right: 0.5rem;
}

.match-team1 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: $green-win;
    text-align: center;
}

.match-score {
    margin-right: 0.5rem;
}

.match-team2 {
    margin-right: 0.5rem;
    color: $red-lost;
    text-align: center;
}

.vr-last {
    margin-right: 1rem;
}

.game-scores {
    tab-size: 4;
}

.game-result {
    padding-left: 0.5rem;
}

.list-group-item {
    width:33.3%;
}

.list-group-horizontal {
    max-width: 400px;
}

.game-lost {
    background-color: $red-lost-bg;
}

.game-won {
    background-color: $green-win-bg;
}

.match-present {
    color: $yellow-friendly;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}